pyrofork==2.3.45
python-telegram-bot
umongo
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
requests
beautifulsoup4  # replaces bs4
git+https://github.com/Joelkb/cinemagoer
datetime  # Note: This is part of Python's standard library and usually doesn't need to be listed
pytz
aiohttp
shortzy==0.0.8
PyLeaves==1.0.2
aiofiles
pyromod==1.5
telegraph
openai
jinja2
apscheduler
pyshorteners
colorama
fuzzywuzzy
python-Levenshtein
googletrans==4.0.0-rc1
